body {
    margin: 0;
    overflow: hidden; /* Mencegah scrollbar saat canvas memenuhi layar */
    background-color: #111;
}

#webglCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex; /* Updated for centering */
    justify-content: center; /* Updated for centering */
    align-items: center; /* Updated for centering */
}

#instructions {
    width: 100%;
    max-width: 400px; /* Optional: limit width */
    text-align: center;
    color: #ffffff;
    background-color: rgba(50,50,50,0.8);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#instructions p {
    margin-bottom: 1em;
}